<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Results</h1>
  <p class="text-light rounded-pill bg-secondary p-4 fs-4 text m-2"><%= @score %></p>
  <%= link_to "Try again", new_path%>
</div>
